<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- your head content here -->
</head>
<body>
<h2>Danh sách lịch trình của từng nhân viên: </h2>

<!-- Iterate through routes and display them with labels -->
<div th:each="route, routeIndex : ${routes}">
    <h3 th:text="'Người thứ ' + ${routeIndex.index + 1} + ':'"></h3>
    </br>
    <span th:each="address, iterStatus : ${route}">
            <span th:text="${address}"></span>
        <!-- Add an arrow (->) if it's not the last address in the route -->
            <span th:if="${!iterStatus.last}">   ->    </span>
        </span>
    </br>
    <br/>
</div>
</body>
</html>